/* App.css */
body {
  font-family: Arial, sans-serif;
}

button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
